body {
	padding-top: 75px;
}

.bar {
	background-image: url('/static/img/bar.png');
}

.short-description {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.share-with {
	padding: 5px;
}
